# Exercises: Creating, Updating, and Destroying Objects

For the exercises, you will be working with objects and data you create. Before opening this notebook, make sure that you have set up the new connection to the server and that you have located the database and your schema.

## Object Creation

Before coding, think of three things you want to make. These could be coding projects, new recipes, or planned projects for a woodworking hobby. Brainstorm the appropriate column names and data types as well.

Create a table under your schema called `planned_makes`.

In [29]:
CREATE TABLE Elizabeth.planned_makes_test
(
    Design_Name VARCHAR (50) NOT NULL,
    Needle_size INT NOT NULL, 
    Cuteness_rating INT NOT NULL,
    Notes VARCHAR (100),
);

: Msg 2714, Level 16, State 6, Line 1
There is already an object named 'planned_makes_test' in the database.

Add three rows to your table that are your planned makes.

In [24]:
INSERT INTO Elizabeth.planned_makes_test(
    Design_Name,
    Needle_size, 
    Cuteness_rating
) 
VALUES 
    ('Dolphin', 
    3, 
    7
), 
    ('Mushroom', 
    1.5, 
    4
),   
    ('Owl', 
    2, 
    6
)
SELECT * FROM Elizabeth.planned_makes_test;

Design_Name,Needle_size,Cuteness_rating,Notes
Dolphin,3,7,NULL
Mushroom,1,4,NULL
Owl,2,6,NULL

## Update a Row

Change different values in one of your three rows.

In [32]:
UPDATE Elizabeth.planned_makes_test
SET Design_Name = 'Narhwal'
WHERE Needle_size =3
SELECT * FROM Elizabeth.planned_makes_test;

Design_Name,Needle_size,Cuteness_rating,Notes
Narhwal,3,7,NULL
Mushroom,1,4,NULL
Owl,2,6,NULL

## Delete a Row

Delete one of the rows from your table.

In [33]:
DELETE FROM Elizabeth.planned_makes_test
WHERE Needle_size =3
SELECT * FROM Elizabeth.planned_makes_test;

Design_Name,Needle_size,Cuteness_rating,Notes
Mushroom,1,4,NULL
Owl,2,6,NULL

## Drop the Table

While this has been fun, it is time to drop the table!

In [35]:
DROP TABLE Elizabeth.planned_makes_test;